In [ ]:
import pandas as pd
import pickle
import numpy as np
import nltk
import re
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
data = pd.read_csv('/content/tdata.csv.xls')
data

       index                                             Review Rating
0          1  ok nothing special charge diamond member hilto...    Neg
1          3  unique, great stay, wonderful time hotel monac...    Pos
2          4  great stay great stay, went seahawk game aweso...    Pos
3          5  love monaco staff husband stayed hotel crazy w...    Pos
4          6  cozy stay rainy city, husband spent 7 nights m...    Pos
...      ...                                                ...    ...
12263  20485  not impressed unfriendly staff checked asked h...    Neg
12264  20486  best kept secret 3rd time staying charm, not 5...    Pos
12265  20488  ok just looks nice modern outside, desk staff ...    Neg
12266  20489  hotel theft ruined vacation hotel opened sept ...    Neg
12267  20490  people talking, ca n't believe excellent ratin...    Neg

[12268 rows x 3 columns]

In [ ]:
dataone=data.iloc[0:,1:]
dataone

                                                  Review Rating
0      ok nothing special charge diamond member hilto...    Neg
1      unique, great stay, wonderful time hotel monac...    Pos
2      great stay great stay, went seahawk game aweso...    Pos
3      love monaco staff husband stayed hotel crazy w...    Pos
4      cozy stay rainy city, husband spent 7 nights m...    Pos
...                                                  ...    ...
12263  not impressed unfriendly staff checked asked h...    Neg
12264  best kept secret 3rd time staying charm, not 5...    Pos
12265  ok just looks nice modern outside, desk staff ...    Neg
12266  hotel theft ruined vacation hotel opened sept ...    Neg
12267  people talking, ca n't believe excellent ratin...    Neg

[12268 rows x 2 columns]

In [ ]:
Reviews=[]

In [ ]:
stemming = PorterStemmer()

In [ ]:
for i in range(12268):
  review = data['Review'][i]
  review = re.sub('[^a-zA-Z]',' ',review)
  review = review.lower()
  review = review.split()
  review = [word for word in review if word not in set(stopwords.words('english'))]
  review = [stemming.stem(word) for word in review]
  review = ' '.join(review)
  Reviews.append(review)

In [ ]:
print(Reviews[0:20])

['ok noth special charg diamond member hilton decid chain shot th anniversari seattl start book suit paid extra websit descript suit bedroom bathroom standard hotel room took print reserv desk show said thing like tv couch ect desk clerk told oh mix suit descript kimpton websit sorri free breakfast got kid embassi suit sit room bathroom bedroom unlik kimpton call suit day stay offer correct fals advertis send kimpton prefer guest websit email ask failur provid suit advertis websit reserv descript furnish hard copi reserv printout websit desk manag duti repli solut send email trip guest survey follow email mail guess tell concern guest staff rang indiffer help ask desk good breakfast spot neighborhood hood told hotel gee best breakfast spot seattl block away conveni hotel know exist arriv late night pm insid run bellman busi chate cell phone help bag prior arriv email hotel inform th anniversari half realli picki want make sure good got nice email say like deliv bottl champagn chocol cover strawberri room arriv celebr told need foam pillow arriv champagn strawberri foam pillow great room view alley high rise build good better housekeep staff cleaner room properti impress left morn shop room got short trip hour bed comfort good ac heat control x inch screen bring green shine directli eye night light sensit tape control start hotel clean busi hotel super high rate better chain hotel seattl', 'uniqu great stay wonder time hotel monaco locat excel short stroll main downtown shop area pet friendli room show sign anim hair smell monaco suit sleep area big stripe curtain pull close nice touch felt cosi goldfish name brandi enjoy n partak free wine coffe tea servic lobbi thought great featur great staff friendli free wireless internet hotel work suit laptop decor love eclect mix patten color palatt anim print bathrob feel like rock star nice n look like steril chain hotel hotel person excel stay', 'great stay great stay went seahawk game awesom downfal view build n complain room huge staff help book hotel websit seahawk packag charg park got voucher taxi problem taxi driver n want accept voucher bare spoke english funni thing speak arab call start make comment girlfriend cell phone buddi took second realiz said fact speak languag face priceless ass told said larg citi told head doorman issu call cab compani prompli answer n apolog offer pay taxi buck mile stadium game plan taxi return go humpin great walk n mind right christma wonder light homeless stow away build entranc leav polic presenc greatest area stadium activ block pike street waterfront great coffe shop way hotel mantain foyer awesom wine tast avail even best dog take st bernard time famili safe hotel locat servic desk room bathroom huge jet tub huge funni hous keep walk girlfriend get dress n hear knock turn servic scream girlfriend scream hit floor laugh start talk spanish work place recommend price check onlin deal good better besit contain deal voucher travel websit n tell', 'love monaco staff husband stay hotel crazi weekend attend memori servic best friend husband celebr th wed anniversari talk mix emot book suit hotel mont carlo loan beauti fan tan goldfish name joliet weekend visit dog work desk human companion room decor nice couch use pillow l occitan bath amen welcom sight room quiet peac wireless internet access wonder server went morn leav problem print board pass afternoon recept serv oenophil satisfi wine australia scrumptiou cooki restaur close renov stay final ate food good drink better word caution restaur larger person sit booth wo n fit lb husband tabl smack stomach coupl inch space mighti uncomfort patron larger pregnant bad design opinion place decor funki welcom way metal wood handblown glass light fixtur expect seattl capit glass art industri definit stay reason', 'cozi stay raini citi husband spent night monaco earli januari busi trip chanc come ride book mont carlo suit prove comfort longish stay room locat street build street nois problem view interest room build look dank alley midsect larg offic build suit comfort plenti room spread bathroom attract squeaki clean small comparison gener proport sit sleep area lot comfort seat option good light plenti storag cloth luggag hotel staff friendli effici housekeep staff great job pleasant request respond quickli locat quit good easi walk pike street market seattl art museum notch shop dine option posit experi', 'hotel stay hotel monaco cruis room gener decor uniqu hotel remodel pacif bell build charm sturdi everytim walk bell men felt like come home secur great singl travel locat fabul walk thing pike market space needl littl groceri drug store block away today green bravo doubl bed room room bed couch separ curtain snore mom slept curtain great food nearbi', 'excel stay hotel monaco past w e delight recept staff friendli profession room smart comfort bed particularli like recept small dog receiv staff guest spoke love mild neg distanc uphil ppmarket restaur st overal great experi', 'poor valu stay monaco seattl juli nice hotel price night hotel take beat quotient experi simpli averag noth except pay n ca n terribl disappoint wife stay nicest suit night felt like overpay best advic shop qualiti wise leagu averag marriott nice best western', 'horribl custom servic hotel stay februari rd th friend pick hotel monaco appeal websit onlin packag includ champagn late checkout free valet gift spa weekend friend check room hour earlier came later pull valet young man stood ask valet open said pull bag offer help got garment bag suitcas came car key room number say valet car park car street pull left key work ask valet park car get went room fine bottl champagn oil lotion gift spa dress went came got bed notic blood drop pillow sheet pillow disgust unbeliev call desk sent somebodi minut later swap sheet left apolog sunday morn call desk speak manag sheet aggrav rude appar manag kind supervisor weekend wait monday morn young man spoke said cover food ad person chang sheet said fresh blood rude tone checkout pm packag book staff maid tri walk room open door apolog close peopl call say check remind packag final pack thing went downstair check quickli sign paper took way took closer look room unfortun cover food offer charg valet call desk ask charg ladi answer snap say awar problem experienc monday like told earlier life treat like hotel sure hotel constantli problem lucki one stay recommend anybodi know', 'disappoint say anticip stay hotel monaco base review seen tripadvisor definit disppoint decor room hotel envis nice housekeep staff impress extrem polit cheeri help desk bellmen standard custom servic lot littl thing easili overlook broken make mirror sag post bathroom jiggli entranc handl room n feel secur handl nearli fall door husband earli morn flight mid week ask cab call suggest cab ride cost doubl privat car flat rate n case knew cost cab car bell staff insist like taxi ride cab driver later explain bell staff kick referr prefer guest citi hotel hotel staff look best interest new year plan dine restaur hotel new year day came dress dinner told desk close holiday ask nearbi respons good luck find today good luck thank help featur need hotel busi centr work downstair servic complet semi funcit internet servic sourc end spend money n work refund hour vacat time troubl shoot internet compani toll free servic line ask desk time assist told worst experi time ask desk assist got respons includ shrug say oh bad major staff attitud simpli care need help dare intrud time got snotti respons occas caught desk girl smirk thought turn n talk frustrat honesti n wait check nice decor like goldfish housekeep staff great end hotel want dash door n way concern take greet pretti ignor desk area unless approach time street westin saw noth smile face come go hotel', 'fantast stay monaco seattl hotel monaco hold high standard kimpton hotel line stay kimpton hotel citi easili say seattl hotel monaco best seen servic attent prompt base member kimpton loyalti program upgrad th floor room great view th street excel public librari kitti corner hotel highli recommend tour public librari blown away room quit spaciou beauti flat screen televis dvd cd player exercis room pretti standard kimpton size mean adequ outstand elipt cardio machin stationari bike person view screen cardio machin screen accept dvd seen kimpton hotel hotel monaco line particular hotel lobbi stylish quirki invit easi imagin spend time relax comfort stuf chair restaur attach hotel sazerac good far eaten lunch look forward breakfast tomorrow kimpton properti abl connect free highspe internet ethernet second cruis web check email offic problem opinion ca n wrong kimpton hotel seattl hotel monaco certainli excel choic', 'good choic hotel recommend sister great locat room nice comfort bed quiet staff help recommend restaur pike market block walk stay', 'servic servic servic spent week g friend labor day bumbershoot gray line airport drop corner hotel person cab total make sure flat rate town car locat central downtown street w quick walk point tourist busi ye space needl bit far monorail westlak center easi walk away tourist underground tour public market space needl emp leav bit room luggag shop great neighborhood safe clean room mediterranean suit quit larg equip two person jacuzzi tub small stand glass enclos shower room view care room clean small throw blanket adorn foot bed took tast decor wall stripe trust wont feel like stale hotel ask gold fish bring well behav dog compani servic aspect excel desk hous keep concierg room servic bell desk readi provid warm profession servic test flinch gym open hour newer cardio machin dumbbel highest weight water towel tv gold walk distanc gastronomi sazerac worth tri impress amus visit seattl monaco like bed westin better prefer monaco afford w g friend visit want bumbershoot year stay hotel monaco', 'excel stay delight surpris stay monaco thoroughli enjoy stay room comfort love amen friendli staff especi enjoy hour indulg definit come', 'hotel monaco great locat servic hotel monaco central locat provid excel servic recent stay origin check slight problem inform book queen bed expedia room king bed fortun fellow guest check time swap room futur refer book expedia recommend doubl check hotel ensur receiv correct room staff state better book hotel directli match onlin rate addit concierg marco help sat night call salti make reserv brunch day inform seat avail follow day concierg call restaur hour want dine abl book tabl great window view hotel block away pike place market seattl art museum shop district walk distanc space needl experi music project attract ammen servic provid hotel includ pet goldfish wine tast yoga mat use room seattl recommend take helicopt tour mt st helen hoffstadt visitor center', 'great locat need intern upgrad advantag north end downtown seattl great restaur nearbi good price room need updat liter thought sleep bed old pillow sheet net result bad night sleep stay locat staff friendli', 'nois aircondition standard arrang stay travel agenc unfortun warwick seattl hotel dissapoint trip night stay warwick chang room start minut stay hotel personnel make feel like guest like intrud reluct help solv complaint hotel right downtown minut realli good restaur like good thing avail room offer nd floor window directli open car park level chang room room loud sound come air condition heat unbeliev hotel hotel personnel told standard nois room tri avoid use night order sleep possibl watch tv loudli', 'good locat poor cleanli warwick hotel great locat seattl close shop pike place seattl centr realli let hotel cleanli bed linen torn curtain torn floor stain hotel advertis balconi realiti disappoint stay hotel san diego balconi tabl chair warwick balconi inch view room view space needl terrif n make poor cleanli check staff pleasant unpleas decid sampl restaur ralph deli street great snack cafe plenti better hotel seattl slightli money warwick choos e g hotel andra', 'gem hotel absolut gem small great servic room huge certainli adequ clean comfort ask room high floor great view downtown space needl best attent staff concierg friendli help shuttl driver went way liter victoria ferri pick conveni would recommend', 'bad choic book hotel hot wire call immedi request nonsmok room king bed room away elev ice person spoke pleasant state guarante request honor make note reserv check person desk rude said special request note reserv card andstat king bed way reserv stuck doubl bed locat directli accross elev ice nonsmok elev park garag hotel warwick mat garag filthi stairwel hotel face th smell urin carpet registr elev area need clean upholsteri curtain room need clean andpress sign bathroom water conserv tub facet drip continu tub drain needsattent shower curtain hole coffe maker room bed fit bed sleep directli mattress bed askew staff unfriendli short housekeep staff quit pleasant stay hotel']

In [ ]:
data

       index                                             Review Rating
0          1  ok nothing special charge diamond member hilto...    Neg
1          3  unique, great stay, wonderful time hotel monac...    Pos
2          4  great stay great stay, went seahawk game aweso...    Pos
3          5  love monaco staff husband stayed hotel crazy w...    Pos
4          6  cozy stay rainy city, husband spent 7 nights m...    Pos
...      ...                                                ...    ...
12263  20485  not impressed unfriendly staff checked asked h...    Neg
12264  20486  best kept secret 3rd time staying charm, not 5...    Pos
12265  20488  ok just looks nice modern outside, desk staff ...    Neg
12266  20489  hotel theft ruined vacation hotel opened sept ...    Neg
12267  20490  people talking, ca n't believe excellent ratin...    Neg

[12268 rows x 3 columns]

In [ ]:
dataone

                                                  Review Rating
0      ok nothing special charge diamond member hilto...    Neg
1      unique, great stay, wonderful time hotel monac...    Pos
2      great stay great stay, went seahawk game aweso...    Pos
3      love monaco staff husband stayed hotel crazy w...    Pos
4      cozy stay rainy city, husband spent 7 nights m...    Pos
...                                                  ...    ...
12263  not impressed unfriendly staff checked asked h...    Neg
12264  best kept secret 3rd time staying charm, not 5...    Pos
12265  ok just looks nice modern outside, desk staff ...    Neg
12266  hotel theft ruined vacation hotel opened sept ...    Neg
12267  people talking, ca n't believe excellent ratin...    Neg

[12268 rows x 2 columns]

In [ ]:
dataone['Rating']=dataone['Rating'].replace({'Pos':1,'Neg':0})
print(dataone)

                                                  Review  Rating
0      ok nothing special charge diamond member hilto...       0
1      unique, great stay, wonderful time hotel monac...       1
2      great stay great stay, went seahawk game aweso...       1
3      love monaco staff husband stayed hotel crazy w...       1
4      cozy stay rainy city, husband spent 7 nights m...       1
...                                                  ...     ...
12263  not impressed unfriendly staff checked asked h...       0
12264  best kept secret 3rd time staying charm, not 5...       1
12265  ok just looks nice modern outside, desk staff ...       0
12266  hotel theft ruined vacation hotel opened sept ...       0
12267  people talking, ca n't believe excellent ratin...       0

[12268 rows x 2 columns]

In [ ]:
dataone

                                                  Review  Rating
0      ok nothing special charge diamond member hilto...       0
1      unique, great stay, wonderful time hotel monac...       1
2      great stay great stay, went seahawk game aweso...       1
3      love monaco staff husband stayed hotel crazy w...       1
4      cozy stay rainy city, husband spent 7 nights m...       1
...                                                  ...     ...
12263  not impressed unfriendly staff checked asked h...       0
12264  best kept secret 3rd time staying charm, not 5...       1
12265  ok just looks nice modern outside, desk staff ...       0
12266  hotel theft ruined vacation hotel opened sept ...       0
12267  people talking, ca n't believe excellent ratin...       0

[12268 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer()

In [ ]:
x = count.fit_transform(Reviews).toarray()
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
y = dataone['Rating'].values
y

array([0, 1, 1, ..., 0, 0, 0])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=15)

In [ ]:
x.shape, y.shape

((12268, 27552), (12268,))

In [ ]:
xtrain.shape, xtest.shape

((9814, 27552), (2454, 27552))

In [ ]:
ytrain.shape, ytest.shape

((9814,), (2454,))

In [ ]:
with open('count_vectorizer.pkl', 'wb') as file:
    pickle.dump(count, file)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(5000,activation='relu'))
model.add(Dense(6000,activation='relu'))
model.add(Dense(3000,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

In [ ]:
model. fit(xtrain,ytrain,epochs=25,batch_size=5,validation_data=(xtest,ytest))

Epoch 1/25
1963/1963 [==============================] - 82s 39ms/step - loss: 0.2460 - accuracy: 0.9341 - val_loss: 0.1612 - val_accuracy: 0.9613
Epoch 2/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0836 - accuracy: 0.9814 - val_loss: 0.1647 - val_accuracy: 0.9633
Epoch 3/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0689 - accuracy: 0.9876 - val_loss: 0.4342 - val_accuracy: 0.9515
Epoch 4/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0543 - accuracy: 0.9908 - val_loss: 0.5227 - val_accuracy: 0.9588
Epoch 5/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0307 - accuracy: 0.9952 - val_loss: 0.8646 - val_accuracy: 0.9641
Epoch 6/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0275 - accuracy: 0.9978 - val_loss: 0.6372 - val_accuracy: 0.9597
Epoch 7/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0164 - accuracy: 0.9967 - val_loss: 1.0757 - val_accuracy: 0.9621
Epoch 8/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0315 - accuracy: 0.9960 - val_loss: 1.2501 - val_accuracy: 0.9637
Epoch 9/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0058 - accuracy: 0.9986 - val_loss: 1.2327 - val_accuracy: 0.9601
Epoch 10/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0179 - accuracy: 0.9977 - val_loss: 0.8854 - val_accuracy: 0.9625
Epoch 11/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0311 - accuracy: 0.9977 - val_loss: 0.6628 - val_accuracy: 0.9617
Epoch 12/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0120 - accuracy: 0.9981 - val_loss: 0.4909 - val_accuracy: 0.9633
Epoch 13/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0153 - accuracy: 0.9985 - val_loss: 0.6284 - val_accuracy: 0.9633
Epoch 14/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0059 - accuracy: 0.9982 - val_loss: 1.4733 - val_accuracy: 0.9650
Epoch 15/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0052 - accuracy: 0.9989 - val_loss: 1.9034 - val_accuracy: 0.9658
Epoch 16/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0263 - accuracy: 0.9963 - val_loss: 2.0886 - val_accuracy: 0.9645
Epoch 17/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0120 - accuracy: 0.9986 - val_loss: 2.0787 - val_accuracy: 0.9593
Epoch 18/25
1963/1963 [==============================] - 73s 37ms/step - loss: 0.0076 - accuracy: 0.9990 - val_loss: 3.0835 - val_accuracy: 0.9621
Epoch 19/25
1963/1963 [==============================] - 75s 38ms/step - loss: 0.0018 - accuracy: 0.9999 - val_loss: 2.9388 - val_accuracy: 0.9662
Epoch 20/25
1963/1963 [==============================] - 75s 38ms/step - loss: 7.5715e-05 - accuracy: 1.0000 - val_loss: 2.9668 - val_accuracy: 0.9662
Epoch 21/25
1963/1963 [==============================] - 75s 38ms/step - loss: 7.3798e-05 - accuracy: 1.0000 - val_loss: 2.9826 - val_accuracy: 0.9658
Epoch 22/25
1963/1963 [==============================] - 75s 38ms/step - loss: 7.1496e-05 - accuracy: 1.0000 - val_loss: 3.0237 - val_accuracy: 0.9662
Epoch 23/25
1963/1963 [==============================] - 75s 38ms/step - loss: 6.8318e-05 - accuracy: 1.0000 - val_loss: 3.0509 - val_accuracy: 0.9658
Epoch 24/25
1963/1963 [==============================] - 73s 37ms/step - loss: 6.5669e-05 - accuracy: 1.0000 - val_loss: 3.0750 - val_accuracy: 0.9658
Epoch 25/25
1963/1963 [==============================] - 73s 37ms/step - loss: 6.3021e-05 - accuracy: 1.0000 - val_loss: 3.1085 - val_accuracy: 0.9658

In [ ]:
testdata= 'not so good'
testdata = re.sub('[^a-zA-Z]',' ',testdata)
testdata = testdata.lower()
testdata = testdata.split()
testdata = [word for word in testdata if word not in set(stopwords.words('english'))]
testdata = [stemming.stem(word) for word in testdata]
testdata = ' '.join(testdata)
testdata = count.transform([testdata]).toarray()
prediction = model.predict(testdata)
print(testdata)
print(prediction)
if prediction>0.5:
  print('Positive')
else:
  print('Negative')

1/1 [==============================] - 0s 19ms/step
[[0 0 0 ... 0 0 0]]
[[0.33171353]]
Negative